@font-face {
  font-family: "Pixel";
  src: url("../fonts/Pixel.ttf") format("truetype");
}

@font-face {
  font-family: "Rpg";
  src: url("../fonts/rpg.otf") format("truetype");
}
body {
  text-align: center;
  background-color: #f3f3f3;
  color: #333;
  font-family: rpg;
  font-size: 1.8rem;
  background-color: rgba(241, 211, 161, 0.8);
}
.story {
  text-align: left;
}
.banner-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-image {
  width: 85%;
  height: 100%;
  border: 5px solid black;
  border-radius: 2rem;
}
.hero-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.game {
  margin: 20px auto;
  padding: 10px;
  max-width: 400px;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #ddd9d4;
}

.damageToEnemy {
  color: red;
}
.damageToHero {
  color: red;
}
.hero-info,
.enemy-info {
  font-size: 1.2rem;
  font-style: italic;
  font-family: rpg;
}

/* BUTTONS */
button {
  cursor: pointer;
  font-family: rpg;
  font-size: 1.7rem;
  border-radius: 10px;
  padding: 10px;
  display: block;
  margin: 1rem auto;
  text-align: center;
}
button:hover {
  background-color: lightgreen;
  transform: scale(1.1);
  transition: transform 0.8s ease;
}
button:disabled {
  background-color: silver;
  cursor: not-allowed;
  font-family: rpg;
  transform: scale(1);
}
button:disabled:hover {
  background-color: lightcoral;
}

.attack-btn {
  padding: 20px;
  cursor: grabbing;
  font-family: rpg;
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}
#restart-game-btn {
  margin: auto;
  display: block;
}
#restart-game-btn:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
#info-btn {
  background-color: #b1afad;
  margin-top: 1rem;
}

/* Modální okno */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#close-info-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

input {
  font-size: 2rem;
  font-family: "rpg", sans-serif;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  border: 3px solid #333;
  background-color: #f4f4f4;
  color: #222;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

input:hover {
  border-color: #555;
  background-color: #eaeaea;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

input:focus {
  outline: none;
  border-color: #5abd41;
}

#puzzle-result1 {
  font-style: italic;
}

.damage {
  color: red;
}
.heal {
  color: green;
}
